// COLORS

$lightest-blue: rgb(236, 244, 253);
$peach-blue: linear-gradient(
    180deg,
    rgba(255, 236, 230, 1) 16%,
    rgba(184, 230, 249, 1) 53%
  );
$light-gray: rgba(255, 255, 255, 0.6);
$dark-gray: rgb(181, 177, 177);


// FONTS

$font-primary: Cabin; 