<h1 class="title text-center m-0 pt-3">Book Your Flight</h1>
<img
  class="airplane__img p-6"
  src="../../../assets/img/airplane.png"
  alt="airplane"
/>

<p-card class="card flex aligh-items-center justify-content-center">
  <form [formGroup]="flightSearchForm" class="form grid font-bold">
    <div class="row flex w-full">
      <div class="form__location field col-6">
        <label for="location" class="block">{{ "location" | translate }}</label>
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="cities"
          optionLabel="name"
          [showClear]="false"
          [placeholder]="'selectCity' | translate"
          formControlName="location"
        ></p-dropdown>
        <app-error [control]="flightSearchForm.controls.location"></app-error>
      </div>

      <div class="form__destination field col-6">
        <label for="destination" class="block">{{
          "destination" | translate
        }}</label>
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="cities"
          optionLabel="name"
          [showClear]="true"
          [placeholder]="'selectCity' | translate"
          formControlName="destination"
          (onChange)="checkCity()"
        ></p-dropdown>
        <app-error
          [control]="flightSearchForm.controls.destination"
        ></app-error>
      </div>
    </div>

    <div class="row flex w-full">
      <div class="form__departure field col-3">
        <label class="block" for="departureDate">{{
          "departure" | translate
        }}</label>
        <p-calendar
          formControlName="departureDate"
          [placeholder]="'selectDate' | translate"
          dateFormat="D, dd/mm/yy"
          [firstDayOfWeek]="1"
          [showIcon]="true"
          (onSelect)="checkDate()"
        ></p-calendar>
        <app-error
          [control]="flightSearchForm.controls.departureDate"
        ></app-error>
      </div>

      <div class="form__return field col-3">
        <label class="block" for="returnDate">{{ "return" | translate }}</label>
        <p-calendar
          formControlName="returnDate"
          [placeholder]="'selectDate' | translate"
          dateFormat="D, dd/mm/yy"
          [firstDayOfWeek]="1"
          [showIcon]="true"
          [minDate]="flightSearchForm.value.departureDate"
        ></p-calendar>
      </div>

      <div class="form__passengers field col-6">
        <label for="passengers" class="block">{{
          "passengers" | translate
        }}</label>
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="passengers"
          [placeholder]="'chooseNumber' | translate"
          formControlName="passengers"
        ></p-dropdown>
      </div>
    </div>

    <div class="form__button col-12 justify-content-end flex">
      <p-button
        (onClick)="navigateToList()"
        type="submit"
        label="Search flights"
        [disabled]="flightSearchForm.invalid"
      ></p-button>
    </div>
  </form>
</p-card>
