@media (max-width: 576px) {
  
.title {
  font-size: 1.5rem;
  width: 400px;
}

.ticket {
    width: 800px;
    display: block;
    align-content: center;
    padding-left: 0.5rem;
// OMG JAK TO WYŚRODKOWAĆ?
}
}