<p-card>
  <div class="grid">
    <div class="col-10">
      <div class="row flex align-items-center gap-7">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
        <div class="flex flex-wrap">
          <span class="w-full font-bold">17:15 - 18:25</span>
          <span class="w-100">Warsaw - Katowice</span>
        </div>
        <span class="font-bold pr-4">1h10min</span>
      </div>
      <div class="row flex align-items-center gap-7">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
        <div class="flex flex-wrap">
          <span class="w-full font-bold">17:15 - 18:25</span>
          <span class="w-100">Warsaw - Katowice</span>
        </div>
        <span class="font-bold pr-4">1h10min</span>
      </div>
      <footer class="mt-4">Wizz Air</footer>
    </div>
    <div class="col-2 flex align-items-center justify-content-center price">
      <h3>999 PLN</h3>
    </div>
  </div>
</p-card>
