<p-card>
  <div class="grid">
    <div class="col-10">
      <div class="row flex align-items-center gap-7">
        <img
          class="ticket__icon w-4rem"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
        <div class="flex flex-wrap">
          <!-- <span class="w-full font-bold">17:15 - 18:25</span> -->
          <span class="w-100"
            >{{ ticket.flightFrom.location.name }} -
            {{ ticket.flightFrom.destination.name }}</span
          >
        </div>
        <span class="font-bold pr-4">{{ ticket.flightFrom.time }} h</span>
      </div>
      <div class="row flex align-items-center gap-7">
        <img
          class="ticket__icon w-4rem"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
        <div class="flex flex-wrap">
          <!-- <span class="w-full font-bold">17:15 - 18:25</span> -->
          <span class="w-100"
            >{{ ticket.flightTo.location.name }} -
            {{ ticket.flightTo.destination.name }}</span
          >
        </div>
        <span class="font-bold pr-4">{{ ticket.flightTo.time }} h</span>
      </div>
      <footer class="mt-4">
        {{ ticket.flightFrom.airline }} | {{ ticket.flightTo.airline }}
      </footer>
    </div>
    <div
      class="col-2 flex align-items-center justify-content-center price flex-wrap"
    >
      <h3>
        $ {{ ticket.flightFrom.price + ticket.flightTo.price }}/
        {{ "perPerson" | translate }}
      </h3>
      <h4>
        $
        {{ (ticket.flightFrom.price + ticket.flightTo.price) * personsCount }}/
        {{ "perAll" | translate }}
      </h4>
    </div>
  </div>
</p-card>
