<div
  class="tickets flex flex-wrap justify-content-center aligh-items-center mt-5 gap-5"
>
  <p-card class="tickets flex">
    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">17:15 - 18:25</span>
        <span class="ticket__container__subheader">Warsaw - Katowice</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>

    <div
      class="ticket__content__detail flex font-bold justify-content-end mr-6"
    >
      999 PLN
    </div>

    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">12:15 - 13:25</span>
        <span class="ticket__container__subheader">Katowice - Warsaw</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>
    <footer class="content__footer__operator mt-3 pl-3">Wizz Air</footer>
  </p-card>

  <p-card class="tickets flex">
    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">17:15 - 18:25</span>
        <span class="ticket__container__subheader">Warsaw - Katowice</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>

    <div
      class="ticket__content__detail flex font-bold justify-content-end mr-6"
    >
      999 PLN
    </div>

    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">12:15 - 13:25</span>
        <span class="ticket__container__subheader">Katowice - Warsaw</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>
    <footer class="content__footer__operator mt-3 pl-3">Wizz Air</footer>
  </p-card>

  <p-card class="tickets flex">
    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">17:15 - 18:25</span>
        <span class="ticket__container__subheader">Warsaw - Katowice</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>

    <div
      class="ticket__content__detail flex font-bold justify-content-end mr-6"
    >
      999 PLN
    </div>

    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">12:15 - 13:25</span>
        <span class="ticket__container__subheader">Katowice - Warsaw</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>
    <footer class="content__footer__operator mt-3 pl-3">Wizz Air</footer>
  </p-card>

  <p-card class="tickets flex">
    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">17:15 - 18:25</span>
        <span class="ticket__container__subheader">Warsaw - Katowice</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>

    <div
      class="ticket__content__detail flex font-bold justify-content-end mr-6"
    >
      999 PLN
    </div>

    <div class="ticket__content flex-initial flex align-items-center gap-7">
      <div class="img flex justify-content-center align-items-center pl-3">
        <img
          class="ticket__icon"
          src="../../../assets/img/airplane-thumbnail.jpg"
          alt="small airplane"
        />
      </div>
      <div class="ticket__container flex flex-column">
        <span class="ticket__container__header font-bold">12:15 - 13:25</span>
        <span class="ticket__container__subheader">Katowice - Warsaw</span>
      </div>
      <div class="ticket__container__aside font-bold">1h10min</div>
    </div>
    <footer class="content__footer__operator mt-3 pl-3">Wizz Air</footer>
  </p-card>
</div>
